:host {
    text-align: center;
    color: aliceblue;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
}

h1 {
    font-size: 4rem;
}

button {
    margin: 20px;
}